<footer class="footer">
  <div class='row'>
    <ul class='footlinx'>
    <div class='large-4 columns' style='font-size:12px; color:grey;'>
       <li><span id='cc'><a href="http://eyeristechnologies.com/">© 2013 Eyeris Technologies</a></span></li>
    </div>
    <div class="large-2 columns">
    </div> 
    <div class="large-6 columns" style='font-size:12px;'>
       <ul>
         <li='linx'><a href='http://www.facebook.com/pages/Eyeris/213037252205052/'><%= link_to image_tag("fb.png", alt:"facebook"),'http://www.facebook.com/pages/Eyeris/213037252205052/'%></a></li>
         <li='linx'><a id='tw' href='http://twitter.com/eyeristech'><%= link_to image_tag("tw.png", alt:"twitter"), 'http://twitter.com/eyeristech'%></a></li>
         <li='linx'><a href='/'><%= link_to image_tag("go.png", alt:"google+"), 'http://plus.google.com/109817019511344263059/'%></a></li>
         <li='linx'><a href='http://www.linkedin.com/company/eyeris/'><%= link_to image_tag("ln.png", alt:"linkedin"),'http://www.linkedin.com/company/eyeris/'%></a></li>
         <li='linx'><a href='http://eyeristechnologies.com/contact/'><span id='contact'>Contact us</span></a></li>
         <li='linx'><span id='privacy'><%= link_to 'Privacy Policy', privacy_path %></span></li>
         <li='linx'><%= link_to 'Terms and Conditions', terms_path %></li>
    </div>
   </ul>  
  </div>
</footer>